useDynLib(Rqpdf)
#exportPattern(".*")

export(qpdf,
       getFormValues,
       getAllDicts)

export(getRoot, getTrailer)

export(version, libqpdfVersion)

export(pdfVersion,
       numPages,
       getFilename,
       getPages,
       getImages,
       getAnnots)

# pdfInfo,

# getWarnings
# showWarnings
# suppressWarnings

#export(writePDF)

# getByType
# getTypeName

export("[[")
exportMethods("[[")

exportMethods("show")

exportMethods("names", "$<-")
exportMethods("coerce")

#S3method(print, QPDF)


